{% extends 'emails/email_template.html' %}
{% block content %}
    <tr>
        <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                   style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="600"
                               style="border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td valign="top" style="padding-top:10px;padding-bottom:10px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                           style="border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top">

                                                <table align="left" border="0" cellpadding="0"
                                                       cellspacing="0" width="600"
                                                       style="border-collapse:collapse">
                                                    <tbody>
                                                    <tr>

                                                        <td valign="top"
                                                            style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">

                                                            <h1 style="margin:0;padding:0;display:block;font-family:Helvetica;font-size:40px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-1px;text-align:left;color:#606060!important">
                                                                Welcome to Picasso</h1>

                                                            <h3 style="margin:0;padding:0;display:block;font-family:Helvetica;font-size:18px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-.5px;text-align:left;color:#606060!important">
                                                                Your profile is ready for you to
                                                                review.</h3>

                                                            <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
                                                                Here at Picasso, we are out to build a&nbsp;search
                                                                engine that allows students to find&nbsp;and
                                                                review the best hobby teachers, <strong>including
                                                                you.</strong> Your personal profile is
                                                                listed on Picasso to help you meet&nbsp;new
                                                                students and build your online
                                                                reputation. Please take a look below&nbsp;and
                                                                verify your information so that new
                                                                students can find and contact you.</p>

                                                            <h3 style="margin:0;padding:0;display:block;font-family:Helvetica;font-size:18px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-.5px;text-align:left;color:#606060!important">
                                                                <em><a href="http://findpicasso.us8.list-manage.com/track/click?u=2308884ba27ac269b7c9e8ad7&amp;id=a1d10a8cd8&amp;e=b6274832f0"
                                                                       style="word-wrap:break-word;color:#6dc6dd;font-weight:normal;text-decoration:underline"
                                                                       target="_blank">www.findpicasso.com{% url 'hash-key' listing.hash_key %}</a></em>
                                                            </h3>

                                                            <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
                                                                <br>
                                                                If you would like to remove your profile
                                                                from Picasso, please fill out this brief
                                                                <a href="http://findpicasso.us8.list-manage.com/track/click?u=2308884ba27ac269b7c9e8ad7&amp;id=6e7fe61ddb&amp;e=b6274832f0"
                                                                   style="word-wrap:break-word;color:#6dc6dd;font-weight:normal;text-decoration:underline"
                                                                   target="_blank">request </a><a
                                                                    href="http://findpicasso.us8.list-manage1.com/track/click?u=2308884ba27ac269b7c9e8ad7&amp;id=804a8d4828&amp;e=b6274832f0"
                                                                    style="word-wrap:break-word;color:#6dc6dd;font-weight:normal;text-decoration:underline"
                                                                    target="_blank">form</a>.<br>
                                                                <br>
                                                                Let us know what you think of Picasso by
                                                                replying to this email.<br>
                                                                <br>
                                                                Cheers,<br>
                                                                <strong>Picasso Team</strong></p>

                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
{% endblock %}