<div marginwidth="0" marginheight="0"
     style="margin:0;padding:0;background-color:#f2f2f2;min-height:100%!important;width:100%!important">
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
           style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
        <tbody>
        <tr>
            <td align="center" valign="top"
                style="margin:0;padding:0;border-top:0;height:100%!important;width:100%!important">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                    <tbody>
                    <tr>
                        <td align="center" valign="top">

                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600"
                                               style="border-collapse:collapse">
                                            <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:9px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                           style="border-collapse:collapse">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top">

                                                                <table align="left" border="0" cellpadding="0"
                                                                       cellspacing="0" width="366"
                                                                       style="border-collapse:collapse">
                                                                    <tbody>
                                                                    <tr>

                                                                        <td valign="top"
                                                                            style="padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:0;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">

                                                                           Picasso is the new review and recommendation site for extracurricular teachers and classes.
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">

                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600"
                                               style="border-collapse:collapse">
                                            <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:10px;padding-bottom:10px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                           style="border-collapse:collapse">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:9px">
                                                                <table align="left" width="100%" border="0"
                                                                       cellpadding="0" cellspacing="0"
                                                                       style="border-collapse:collapse">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top"
                                                                            style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0">


                                                                            <img align="left" alt=""
                                                                                 src="https://ci5.googleusercontent.com/proxy/XVQamx8cYW1KBZpB4Qdlo2cvgH4h2BighOFiJtOqlD_B8wkP5A0eO45UaJqR1Dqw7-vSv2UG0RF9zlTwyokrH3RugIVb6HFkHX6icDD515Zcc5Yuh2ns-lq8KXC0cT5Pw0Ly2Jw4y1GCi45au68JCFAzRh_T1hJz0xjXMQ=s0-d-e1-ft#http://gallery.mailchimp.com/2308884ba27ac269b7c9e8ad7/images/2d69d2e4-a0ee-4bea-b801-c5684e6763e2.jpg"
                                                                                 width="564"
                                                                                 style="max-width:800px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none">


                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>

                    {% block content %}
                    {% endblock %}
                    <tr>
                        <td align="center" valign="top">

                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                   style="border-collapse:collapse;background-color:#f2f2f2;border-top:0;border-bottom:0">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600"
                                               style="border-collapse:collapse">
                                            <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:10px;padding-bottom:10px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                           style="border-collapse:collapse">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top">

                                                                <table align="left" border="0" cellpadding="0"
                                                                       cellspacing="0" width="600"
                                                                       style="border-collapse:collapse">
                                                                    <tbody>
                                                                    <tr>

                                                                        <td valign="top"
                                                                            style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">

                                                                            <em>Copyright © 2014 Picasso, All rights
                                                                                reserved.</em><br>
                                                                            You are receiving this email because you are
                                                                            an extracurricular teacher listed on Picasso's rating
                                                                            and search engine.<br>
                                                                            <br>
                                                                            <strong>Our mailing address is:</strong><br>

                                                                            <div><span>Picasso</span>

                                                                                <div>
                                                                                    <div>130 Bloor St W</div>
                                                                                    <span>Toronto</span>,
                                                                                    <span>ON</span> <span>M5S 1N5</span>

                                                                                    <div>Canada</div>
                                                                                    <br><a
                                                                                        href="http://findpicasso.us8.list-manage.com/vcard?u=2308884ba27ac269b7c9e8ad7&amp;id=b75e23569c"
                                                                                        target="_blank">Add us to your
                                                                                    address book</a></div>
                                                                                <br>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        </tbody>
    </table>
</center>
<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</center>
</div>