{% extends 'main_template.html' %}
{% load staticfiles %}
{% block seo %}
        <title>About | Picasso</title>
        <meta name="description"
              content="About us. Picasso started in July of 2014 and already has over 2000 teachers, tutors, and coaches listed in Ontario. Find the best teacher for your passion and hobbies near you.">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>About Picasso</h1>

            <h3>Picasso helps students and parents find the best hobby teachers in their local community. Use Picasso to
                search,
                review and contact teachers for all of your passions and hobbies. Find the best teacher to suit your
                needs.
            </h3>
        </div>
    </div>
    <div class="container container-xs-height">
        <div class="row row-xs-height">
            <div class="col-sm-12 col-lg-4 col-lg-height">
                <h2>Search</h2>
            </div>
            <div class="col-sm-12 col-lg-4 col-lg-height">
                <h2>Review</h2>
            </div>
            <div class="col-sm-12 col-lg-4 col-lg-height">
                <h2>Learn</h2>
            </div>
        </div>
    </div>
    <div class="container container-xs-height">
        <div class="row row-xs-height">
            <div class="col-sm-12 col-lg-4 col-lg-height">
                <h4>Picasso’s search engine helps you find the most recommended teachers in your neighbourhood at your
                    price
                    range and expertise level.</h4>
            </div>
            <div class="col-sm-12 col-lg-4 col-lg-height">
                <h4>Review - Tell us what you think about your teachers and hobby schools and share your experiences
                    with
                    other
                    students.</h4>
            </div>
            <div class="col-sm-12 col-lg-4 col-lg-height">
                <h4>Learn - Contact the teachers and schools through Picasso and they’ll get back to you shortly to book
                    a
                    trial
                    class.
                    You’re on your way!</h4>
            </div>
        </div>
    </div>
{% endblock %}