{% extends 'main_template.html' %}
{% load staticfiles %}<!-- Revolution Slider -->
{% block above_content %}
    <section class="revolution-slider">
        <div class="bannercontainer">
            <div class="banner">
                <ul>
                    <!-- Slide 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- Main Image -->
                        <img src="{% static 'images/musician-349790_1280.jpg' %}"
                             style="opacity:0;" alt="slidebg1"
                             data-bgfit="cover"
                             data-bgposition="left bottom" data-bgrepeat="no-repeat">
                        <!-- Layers -->
                        <!-- Layer 1 -->
                        <!-- <div class="caption sft revolution-starhotel bigtext"
                             data-x="505"
                             data-y="30"
                             data-speed="700"
                             data-start="1700"
                             data-easing="easeOutBack">
                            Let Picasso help <br> find
                            the best hobby <br> teachers near you.
                        </div> -->
                    </li>gut
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            var $main = $('#main-section');
            $.get('{% url 'featured' %}', function (data) {
                $main.append(data['html']);
                lons = $.parseJSON(data['lons']);
                lats = $.parseJSON(data['lats']);
                names = data['names'];
                if (!script_loaded) {
                    loadScript();
                } else {
                    initialize();
                }
                loadFilters();
                 $(".rating").rating({'min': 0, 'max': 5, 'step': 0.5, size: 'xs', showClear: false, showCaption: false});
            });

            $main.on('click', '.detail-back', function () {
                $('.revolution-slider').remove();
                $main.find('> div:last-child').remove();
                $main.find('> section').show();
            });

            $main.on('click', '#review-button', function () {
                {% if user.is_authenticated %}
                    $('#review_form').show();
                    $("#review-rating").rating({'min': 0, 'max': 5, 'step': 1});
                {% else %}
                    $('#main-section').hide();
                    $('#sign-in-lightbox').show();
                    $('#sign-up-stuff').show();
                     $('#facebook-heading').text('Sign Up with Facebook');
                    $('#signin-heading').text('Sign Up');
                    $('#type-signin').val('sign-up');
                    $('#sign-in-button').text('Sign Up');
                {% endif %}
            });
            $main.on('click', '#cancel-review-button', function () {
                $('#review_form').hide();
            });
            $main.on('click', '#review-submit', function () {
                var url = $(this).data('url');
                $.post(url, {'comment': $('#review-comment').val(), 'rating': $('#review-rating').val(),
                    'csrfmiddlewaretoken': $($('input[name="csrfmiddlewaretoken"]')[0]).val()}, function (data) {
                    var $owls = $('.owl-item');
                    var $items = $owls.find('.item');
                    if ($owls.length == 0) {
                        $('.owl-wrapper').append('<div class="owl-item" style="width: 610px;">' + data + '</div>');
                    } else {
                        if ($items.length % 2 == 1) {
                            $($owls[$owls.length - 1]).append(data);
                        } else {
                            $('.owl-wrapper').append('<div class="owl-item" style="width: 610px;">' + data + '</div>');
                        }
                    }
                    $('#review_form').remove();
                    $('#review-button').remove();
                    $('#reviews-box').show();
                });
            });
        });
    </script>
{% endblock %}