{% extends 'main_template.html' %}
{% load staticfiles %}
{% block seo %}
    <title>Terms and Conditions of Current Promotions | Picasso</title>
    <meta name="description"
          content="Terms and conditions for competitions of winning an iPad Mini.">
{% endblock %}
{% block content %}
    <div class="container">
        <p>

        <h1>Picasso: Terms and conditions for competitions</h1>
        </p>

        <h2>Competition Terms – iPad Sweepstake</h2>

        <p>
        <ol>
            <li>An entry ballot is comprised of a valid review for a listing on Picasso’s website, www.findpicasso.com
                by August 10, 2014 11:59:00 pm EST.
            </li>
            <li>In the event that a particular listing is not available on the website, the entrant is required to
                submit the basic information (name, contact, website) for class or teacher listing and then submitting a
                valid entry.
            </li>
            <li>Each review is required to create an account on Picasso in order to provide the necessary contact
                information in the case that the user is drawn in the sweepstake.
            </li>
            <li>4. The prize for the sweepstake is one (1) 16 GB iPad mini with the following specifications:
                <dd>Wi-Fi (802.11a/b/g/n); dual channel (2.4GHz and 5GHz)</dd>
                <dd>Bluetooth 4.0 technology</dd>
                <dd>Height:7.87 inches (200 mm)</dd>
                <dd>Width: 5.3 inches (134.7 mm)</dd>
                <dd>Depth: 0.28 inch (7.2 mm)</dd>
                <dd>Weight: 0.68 pound (308 g)</dd>
                <dd>Retail price on Apple Store: $299</dd>
            </li>
            <li>Each user is allowed multiple entries with each eligible valid review as one ballot.</li>
            <li>1 winning review will be selected from all eligible ballots in a random draw in order to receive the
                grand prize on August 11, 2014.
            </li>
            <li>Picasso will contact the winner of the prize within 24 hours of the draw. The winner will have 28 days
                to respond to the initial point of contact or forfeit the prize.
            </li>
            <li>The winning user will provide mailing information to Picasso in order to facilitate the shipment of the
                prize. Or, winner may opt to pick up the prize from Picasso’s office.
            </li>
            <li>All general Terms & Conditions apply.</li>
        </ol>
        </p>

        <strong>General Terms & Conditions</strong>
        <ol>
            <li>1. These terms and conditions, together with the terms and conditions that are specific to any
                Competition (as defined below) (the 'Competition Terms') are known as the 'Rules'. Words used in the
                Competition Terms shall have the same meaning when used here. In the event of any conflict between the
                Competition Terms and the Standard Terms, the Competition Terms shall prevail.
            </li>
            <li>The Rules apply to any competition (the 'Competition') that is promoted on the Picasso website
                (www.findpicasso.com) and by entering the Competition, you agree to be bound by the Rules.
            </li>
            <li>Picasso reserves the right to cancel or amend all or any part of the Competition and/or the Rules
                without notice for any event that is outside of Picasso’s reasonable control. Any changes to the Rules,
                or cancellation of the Competition, will be posted on the Picasso’s website (www.findpicasso.com). It is
                the responsibility of entrants to keep themselves informed as to any changes to the Rules.
            </li>
            <li>In the event of any dispute regarding the Rules, the conduct or results of the Competition, or any other
                matter relating to a Competition, the decision of Picasso shall be final and unchallengeable and no
                correspondence or discussion shall be entered into, comment issued, or reason given in respect of any
                decision made by Picasso.
            </li>

            Competition Entrants
            <li>By entering the Competition, you hereby warrant that all information submitted by you in your Entry is
                true, accurate and complete in every respect. Picasso reserves the right to verify any information
                contained in your Entry and/or your eligibility to enter the Competition.
            </li>
            <li>Unless otherwise stated in the Competition Terms, the Competition is open to persons of any age. Picasso
                assumes that by entering into the Competition, the parents or guardians of any entrant that is aged
                under the age of 18 have consented to that person's entry into the Competition and these Rules. Entrants
                may be required to provide proof of identity and if aged under 18, should be able to demonstrate to
                Picasso’s satisfaction that their parent/ guardian has given their consent to such entry.
            </li>
            <li>Picasso reserve the right in its absolute discretion to disqualify any entrant if it has reasonable
                grounds to believe that an entrant has breached any of the Rules, any applicable law (including
                copyright law) or has otherwise infringed the intellectual property of any other person. Each entrant
                acknowledges and agrees that any failure to comply with the Rules could lead to Picasso disqualifying
                that person, without Picasso giving any reason for such disqualification or granting any opportunity for
                challenge.
            </li>
            <li>Any person that is: (a) an employee of any company involved in the Competition (including Picasso); is
                not eligible to enter the Competition. Picasso reserves the right to disqualify any person that it knows
                is, or has reasonable grounds to believe is, ineligible for the Competition as a result of this Rule.
            </li>
            <li>In the event that a Prize-winner is disqualified from the Competition, Picasso will, unless otherwise
                stated in the Competition Terms, select an alternative Prize-winner in the same manner as the original
                Prize-winner and such selection will be subject to the Rules.
            </li>

            Competition Entries
            <li>Entries must be made by the Closing Date of August 10, 2014 11:59 pm EST and in the manner set out in
                the Competition Terms. Failure to do so will result in disqualification.
            </li>
            <li>There is no requirement to make any purchase in order to enter the Competition or access the website.
            </li>
            <li>Unless otherwise stated in the Competition Terms, only one Entry per person is permitted. In the event
                that Picasso discovers or has reasonable grounds to believe that the same person has made multiple
                Entries, such person and any Entries made by them shall be disqualified and, if such Entrant has already
                been selected as a Prize-winner, an alternative Prize-winner will be selected in accordance with Rule 10
                above.
            </li>
            <li>Unless otherwise set out in the Competition Terms, Picasso accepts no responsibility for the return of
                any Entries.
            </li>

            Prize-winners
            <li>Prize-winners will be selected and notified in the manner set out in the Competition Terms. No prize
                will be awarded where any entrant has committed any form of misconduct (as determined by Picasso in its
                sole discretion).
            </li>
            <li>Where Entries are judged on artistic or other subjective criteria, Picasso reserves the right to set
                amend the criteria used to judge Entries.
            </li>
            <li>Prizes are non-transferable and there is no cash alternative. In the event of a prize being unavailable
                for any reason Picasso reserve the right to substitute prizes of equal or greater value at any time.
            </li>
            <li>Prizes must be accepted in the manner set out in the Prize Notification. In the event that any Prize
                Notification is returned as undeliverable or any Prize-winner fails to validly reply to a Prize
                Notification within 28 days, Picasso reserves the right to disqualify the Prize-winner and select an
                alternative Prize-winner in accordance with Rule 10 above.
            </li>

            Liability
            <li>Picasso accepts no responsibility for any damage, loss, injury (other than our liability for personal
                injury or death as a result of our negligence) or disappointment of any kind suffered by any entrant in
                entering the Competition, including as a result of any entrant winning or not winning any prize.
            </li>
            <li>Picasso accepts no responsibility for Entries lost, damaged or delayed in the post, or due to computer
                error in transit. Entries made online using methods generated by a script, macro or the use of automated
                devices will be void.
            </li>

            Intellectual Property Rights and Data Protection
            <li>You agree that Picasso (and any third party authorised by Picasso) may use your Entry (whether or not it
                wins the Competition) for any promotional purpose (for example, placing it on the Picasso website or on
                any poster, leaflet or other advertising media). You confirm that your Entry is original that you own
                and have the right to license to Picasso the copyright and other intellectual property rights in the
                Entry for the purposes referred to in these Rules. You will retain ownership of copyright in your Entry
                but you give Picasso (and any third party authorised by Picasso) your irrevocable permission to use,
                reproduce, publish, display, transmit, copy, amend, store, sell and sub-licence your Entry worldwide for
                such promotional purposes and for the purposes of the Competition.
            </li>
            <li>Picasso will use any personal information that you provide with your Entry for the purposes of the
                Competition and, where you have given your consent, for marketing purposes including the distribution of
                regular email updates or newsletters. Any personal information relating to entrants will be used solely
                by us in accordance with applicable data protection legislation.
            </li>
            <li>All Prize-winners unconditionally agree (as a condition of accepting any prize) to: (a) the use of their
                name, one or more photographs of themselves and disclosure of their city and country of residence and
                (b) co-operate with or participate in any other reasonable post-Competition publicity.
            </li>

            Governing Law and Jurisdiction
            <li>The Rules and any dispute or claim arising out of or in connection with them or their subject matter
                (including the Competition), existence, negotiation, validity, termination or enforceability (including
                non-contractual disputes or claims) shall be governed by and construed in accordance with Canadian law.
            </li>
            <li>The Courts of canadashall have exclusive jurisdiction in relation to any dispute or claim arising out of
                or in connection with the Rules or their subject matter, existence, negotiation, validity, termination
                or enforceability (including non-contractual disputes or claims).
            </li>

            Copies of these Rules
            <li>A copy of these Rules may be obtained by sending an email to contact@findpicasso.com.</li>
        </ol>

    </div>
{% endblock %}