<div id="create-listing-div" class="container mt30">
    <form class="clearfix" role="form" method="post" action="{% url 'profile:add_listing' %}"
          id="createlistingform" onsubmit="return false;">
        {% csrf_token %}
        <div class="form-group">
            <label for="listing-name" accesskey="S"><span class="required">*</span>Listing Name</label>
            <input id="listing-name" class="form-control" value="{{ user.first_name }} {{ user.last_name }}">
        </div>
        <div class="form-group">
            <label for="listing-description" accesskey="S"><span class="required">*</span>Description</label>
            <textarea id="listing-description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="listing-email" accesskey="S"><span class="required">*</span>Email</label>
            <input id="listing-email" class="form-control" type="email">
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="form-group">
                    <label for="listing-website" accesskey="S">Website:</label>
                    <input type="text" id="listing-website" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="listing-level" accesskey="S"><span class="required">*</span>Teach:</label>
                    <select id="listing-level" multiple class="form-control">
                        <option value="All">All</option>
                        <option value="Beginner">
                            Beginner
                        </option>
                        <option value="Intermediate">Intermediate
                        </option>
                        <option value="Advanced">
                            Advanced
                        </option>
                    </select> level Students
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="listing-price" accesskey="S"><span class="required">*</span>Price Range per
                        Lesson:</label>
                    <input type="text" id="listing-price" readonly style="border:0; color:#f6931f; font-weight:bold;">

                    <div id="slider-range"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="form-group">
                    <label for="listing-categories" accesskey="S">Categories:</label>
                    <input type="text" id="listing-categories" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-sm-12">
                <div class="form-group">
                    <label for="listing-address" accesskey="S">Address</label>
                    <input id="listing-address" class="form-control" value="{{ user.profile.address.location }}">
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div class="form-group">
                    <label for="listing-postal" accesskey="S">Postal Code</label>
                    <input id="listing-postal" class="form-control" value="{{ user.profile.address.postal_code }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label for="listing-city" accesskey="S">Cities</label>
                    <input id="listing-city" class="form-control" value="{{ user.profile.address.city }}">
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label for="listing-country" accesskey="S">Country</label>
                    <input id="listing-country" class="form-control" value="{{ user.profile.address.country }}">
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label for="listing-phone" accesskey="S">Phone</label>
                    <input id="listing-phone" class="form-control" value="{{ user.profile.phone }}">
                </div>
            </div>
        </div>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label for="are-owner" accesskey="S"><span class="required">*</span>Is this your own
                            listing?</label>
                        <br>
                        <input id="are-owner" type="checkbox" class="form-control" checked>
                    </div>
                </div>
            {% endif %}
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="are-active" accesskey="S"><span class="required">*</span>Currently Accepting
                        Students</label>
                    <br>
                    <input id="are-active" type="checkbox" class="form-control" checked>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary" id="cancel-create-listing">Cancel</button>
        <button type="button" class="btn btn-lg btn-primary" id="submit-create-listing"
                data-url="{% url 'profile:add_listing' %}">
            Submit Listing
        </button>
    </form>
</div>