<div id="edit-listing-div" class="container mt30">
    <form class="clearfix" role="form" method="post" action="{% url 'profile:edit_listing' listing.id %}"
          id="editlistingform" onsubmit="return false;">
        {% csrf_token %}
        <div class="form-group">
            <label for="listing-name" accesskey="S"><span class="required">*</span>Listing Name</label>
            <input id="listing-name" class="form-control" value="{{ listing.listing_name }}">
        </div>
        <div class="form-group">
            <label for="listing-description" accesskey="S"><span class="required">*</span>Description</label>
            <textarea id="listing-description" class="form-control">{{ listing.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="listing-email" accesskey="S"><span class="required">*</span>Email</label>
            <input id="listing-email" class="form-control" type="email" value="{{ listing.email }}">
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="form-group">
                    <label for="listing-website" accesskey="S">Website:</label>
                    <input type="text" id="listing-website" class="form-control" value="{{ listing.website }}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="listing-level" accesskey="S"><span class="required">*</span>Teach:</label>
                    <select id="listing-level" class="form-control" multiple>
                        <option value="All" {% if "All" in listing.level_of_expertise %}selected{% endif %}>All</option>
                        <option value="Beginner" {% if "Beginner" in listing.level_of_expertise %}selected{% endif %}>
                            Beginner
                        </option>
                        <option value="Intermediate"
                                {% if "Intermediate" in listing.level_of_expertise %}selected{% endif %}>Intermediate
                        </option>
                        <option value="Advanced" {% if "Advanced" in listing.level_of_expertise %}selected{% endif %}>
                            Advanced
                        </option>
                    </select> level Students
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="listing-price" accesskey="S"><span class="required">*</span>Price Range per
                        Lesson:</label>
                    <input type="text" id="listing-price" readonly style="border:0; color:#f6931f; font-weight:bold;">

                    <div id="slider-range"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="form-group">
                    <label for="listing-categories" accesskey="S">Categories:</label>
                    {% if listing.tags.count != 0 %}
                        <input type="text" id="listing-categories" class="form-control"
                               value="{{ listing.get_string_tags }}"/>
                    {% else %}
                        <input type="text" id="listing-categories" class="form-control"/>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-sm-12">
                <div class="form-group">
                    <label for="listing-address" accesskey="S">Address</label>
                    <input id="listing-address" class="form-control" value="{{ listing.address.location }}">
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div class="form-group">
                    <label for="listing-postal" accesskey="S">Postal Code</label>
                    <input id="listing-postal" class="form-control" value="{{ listing.address.postal_code }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label for="listing-city" accesskey="S">Cities</label>
                    <input id="listing-city" class="form-control" value="{{ listing.address.city }}">
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label for="listing-country" accesskey="S">Country</label>
                    <input id="listing-country" class="form-control" value="{{ listing.address.country }}">
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label for="listing-phone" accesskey="S">Phone</label>
                    <input id="listing-phone" class="form-control" value="{{ listing.phone }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="are-owner" accesskey="S"><span class="required">*</span>Is this your own
                        listing?</label>
                    <br>
                    <input id="are-owner" type="checkbox" class="form-control"
                           {% if user == listing.owner %}checked{% endif %}>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="are-active" accesskey="S"><span class="required">*</span>Currently Active</label>
                    <br>
                    <input id="are-active" type="checkbox" class="form-control"
                           {% if user == listing.active %}checked{% endif %}>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary" id="cancel-edit-listing">Cancel</button>
        <button type="button" class="btn btn-lg btn-primary" id="save-edit-listing"
                data-url="{% url 'profile:edit_listing' listing.id %}">
            Save Listing
        </button>
    </form>
</div>