{% extends 'main_template.html' %}
{% load staticfiles %}
{% block content %}
    <div id="my-listings">
        {% include 'index/listings.html' %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            {% for l in listings %}
            {% if l.address.point %}
                lons.push({{ l.address.point.x }});
                lats.push({{ l.address.point.y }});
            {% else %}
                lons.push(-79.4);
                lats.push(43.7);
            {% endif %}
                names.push('{{ l.listing_name }}');
            {% endfor %}
            if (!script_loaded) {
                loadScript();
            } else {
                initialize();
            }
            $('input[type=checkbox], input[type=radio]').each(function () {
                var self = $(this),
                        label = self.next(),
                        label_text = label.text();

                label.remove();
                self.iCheck({
                    checkboxClass: 'icheckbox_line-blue',
                    radioClass: 'iradio_line-blue',
                    insert: '<div class="icheck_line-icon"></div>' + label_text
                });
            });
        })
    </script>
{% endblock %}