{% extends 'main_template.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load utilfilters %}
{% block seo %}
    <title>{{ listing.listing_name|unidecode }} - {{ listing.get_string_tags }} | Picasso</title>
    <meta name="description"
          content="Teacher's Name: {{ listing.listing_name|unidecode }}. Subjects: {{ listing.get_string_tags }}. Location: {{ listing.address|safe }}">
{% endblock %}
{% block additionalStyles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}
%{% block content %}
    <div class="container mt50" id="listing-detail">
    <div class="row">
        {% if listing.visible == False %}
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                This listing is only visible through the direct link because it is an ORMTA listing.
            </div>
            </div>
        {% endif %}
        <!-- Slider -->
        <div class="col-sm-12">
            <h2 class="lined-heading"><span>{{ listing.listing_name|unidecode }}</span></h2>
        </div>
        <section class="standard-slider room-slider">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="item"><img
                                src="{{ listing.get_photo_url }}" alt="{{ listing.get_string_tags }}"
                                class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row mt20">
                    <div class="col-sm-12">
                        <div id="map-canvas" style="width: 100%; min-height: 300px"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="tab-pane fade in active" id="overview">
                    <div class="tp-leftarrow tparrows default detail-back" style="width: 100%;">
                        <div style="float: right;">
                            {% if listing.owner == None  and listing.email != '' %}
                                {% if claimable %}
                                    <div class="popover-icon" data-container="body" data-toggle="popover"
                                         data-trigger="hover"
                                         data-placement="top"
                                         data-content="You can edit any incorrect information after claiming the business"
                                         data-original-title=""
                                         title="">
                                        <button type="button" class="btn btn-primary btn-block"
                                                id="claim-listing-button">
                                            &nbsp;&nbsp;Sign Up to Claim Your Listing&nbsp;&nbsp;
                                        </button>
                                    </div>
                                    <div class="popover-icon" data-container="body" data-toggle="popover"
                                         data-trigger="hover"
                                         data-placement="top"
                                         data-content="We will review and confirm the request as soon as possible to ensure prompt removal"
                                         data-original-title=""
                                         title="">
                                        <button type="button" class="btn btn-primary btn-block"
                                                id="remove-listing-button">
                                            &nbsp;&nbsp;Remove
                                            Listing&nbsp;&nbsp;
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="popover-icon" data-container="body" data-toggle="popover"
                                         data-trigger="hover"
                                         data-placement="top"
                                         data-content="You can edit or remove any incorrect information after claiming the business"
                                         data-original-title=""
                                         title="">
                                        <button type="button" class="btn btn-primary btn-block"
                                                id="send-claim-button">
                                            &nbsp;&nbsp;Claim
                                            Listing&nbsp;&nbsp;
                                        </button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <h3>
                        Overview
                    </h3>

                    <p><strong>Subjects: </strong>{{ listing.get_string_tags }}</p>

                    <p><strong>Teaches: </strong>{{ listing.level_of_expertise|safe }} level Students</p>

                    {% if listing.price_min != 0 and lisiting.price_max != 0 %}
                        <p><strong>Price Range per Lesson: </strong>${{ listing.price_min|floatformat }}
                            - {{ listing.price_max }}</p>
                    {% else %}
                        <p><strong>Price Range: </strong>Unknown</p>
                    {% endif %}

                    <p>{{ listing.description|safe }}</p>

                    <p><strong>Address: </strong>{{ listing.address.get_obscure|safe }}</p>

                    <p><strong>Phone Number: </strong>{{ listing.phone }}</p>

                    <span id="distance"></span>

                    {% if listing.active %}<p>
                        <strong>Currently Accepting Students: </strong><i class="fa fa-2x fa-check-circle"></i>
                        </p>{% endif %}

                    <p><strong>Rating:</strong>{{ listing.get_rating }}</p>

                    {% if listing.owner == user or listing.created_by == user %}
                        <button type="button" class="btn btn-primary btn-block" id="edit-listing-button"
                                data-url="{% url 'profile:edit_listing' listing.id %}">Edit
                        </button>
                    {% endif %}

                    {% if listing not in user.profile.teachers.all %}
                        <button type="button" class="btn btn-primary btn-block mt20" id="add-teacher">Add to
                            Favourites
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-primary btn-block mt20" disabled>Favourite
                        </button>
                    {% endif %}
                    <button type="button" class="mt20 btn btn-primary btn-block" id="contact-button">Contact Teacher
                    </button>
                    {% if not reviewed and listing.owner != user %}
                        <button type="button" class="mt20 btn btn-primary btn-block" id="review-button">Write a
                            Review
                        </button>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
    {% if not reviewed and listing.owner != user %}
        <div class="row mt20" id="review_form" style="display: none">
            <form class="clearfix mt50" role="form" method="post"
                  action="{% url 'review_listing' listing.id %}"
                  id="reviewform" onsubmit="javascript:void(0)">
                {% csrf_token %}
                <div class="form-group">
                    <label for="review-comment" accesskey="S"><span class="required">*</span>Comment</label>
                    <textarea name="comment" id="review-comment" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="review-rating" accesskey="S"><span class="required">*</span>Rating</label>
                    <input id="review-rating" name="rating" class="form-control">
                </div>
                <div class="error_message">

                </div>
                <button type="button" class="btn  btn-lg btn-primary" id="cancel-review-button">Cancel</button>
                <button type="button" class="btn  btn-lg btn-primary" id="review-submit"
                        data-url="{% url 'review_listing' listing.id %}">
                    Submit Review
                </button>
            </form>
        </div>
    {% endif %}
    <div class="row mt20" id="contact_form" style="display: none">
        <form class="clearfix mt50" role="form" method="post"
              action="{% url 'profile:send_contact_email' listing.id %}"
              id="contactform" onsubmit="return false;">
            {% csrf_token %}
            <div class="form-group">
                <label for="contact-email" accesskey="S"><span class="required">*</span>Email</label>
                <input id="contact-email" name="email" class="form-control" type="email">
            </div>
            <div class="form-group">
                <label for="contact-message" accesskey="S"><span class="required">*</span>Message</label>
                <textarea name="message" id="contact-message" class="form-control"></textarea>
            </div>
            <div class="error_message">

            </div>
            <button type="button" class="btn  btn-lg btn-primary" id="cancel-contact-button">Cancel</button>
            <button type="button" class="btn  btn-lg btn-primary" id="contact-submit"
                    data-url="{% url 'profile:send_contact_email' listing.id %}">
                Send Message
            </button>
        </form>
    </div>
    <div class="row" {% if listing.review_set.count == 0 %}style="display:none;"{% endif %} id="reviews-box">
        <!-- Testimonials -->
        <section class="testimonials mt50">
            <div class="col-md-12 col-sm-12">
                <h3 class="lined-heading"><span>Testimonials</span></h3>

                <div id="owl-reviews" class="owl-carousel mt30 owl-theme" style="display: block; opacity: 1;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper"
                             style="width: 2440px; left: 0px; display: block; transition: all 1000ms ease; -webkit-transition: all 1000ms ease; -webkit-transform: translate3d(0px, 0px, 0px);">
                            {% for review in listing.review_set.all %}
                                {% if forloop.counter0|mod:2 == 0 %}
                                    <div class="owl-item" style="width: 610px;">
                                {% endif %}
                            {% include 'index/review.html' with review=review count=forloop.counter %}
                            {% if forloop.counter0|mod:2 == 1 %}
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if listing.review_set.count >= 3 %}
                        <div class="owl-controls clickable">
                            <div class="owl-buttons">
                                <div class="owl-prev"><i class="fa fa-angle-left fa-3x"></i></div>
                                <div class="owl-next"><i class="fa fa-angle-right fa-3x"></i></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script>
    $(function () {
        var $main = $('#main-section');
        var $my_listings = $('#listing-detail');

        $main.on('click', '#edit-listing-button', function () {
            var url = $(this).data('url');
            $.get(url, function (data) {
                $('#listing-detail').hide();
                $main.append(data);
                $("#are-owner").bootstrapSwitch();
                $("#are-active").bootstrapSwitch();
                $('#listing-level').chosen({width: '200px'});
                var $range = $("#slider-range");
                {% if listing.price_min != 0 and lisiting.price_max != 0 %}
                    var values = [ {{ listing.price_min }}, {{ listing.price_max }}];
                {% else %}
                    var values = [ 10, 100];
                {% endif %}
                $range.slider({
                    range: true,
                    min: 0,
                    max: 500,
                    values: values,
                    slide: function (event, ui) {
                        $("#listing-price").val("$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ]);
                    }
                });
                $("#listing-price").val("$" + $range.slider("values", 0) +
                        " - $" + $range.slider("values", 1));

                $('#listing-categories').bind("keydown", function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete("instance").menu.active) {
                        event.preventDefault();
                    }
                })
                        .autocomplete({
                            minLength: 0,
                            source: function (request, response) {
                                // delegate back to autocomplete, but extract the last term
                                response($.ui.autocomplete.filter(
                                        tags, extractLast(request.term)));
                            },
                            focus: function () {
                                // prevent value inserted on focus
                                return false;
                            },
                            select: function (event, ui) {
                                var terms = split(this.value);
                                // remove the current input
                                terms.pop();
                                // add the selected item
                                terms.push(ui.item.value);
                                // add placeholder to get the comma-and-space at the end
                                terms.push("");
                                this.value = terms.join(", ");
                                return false;
                            }
                        });
            });
        });

        $main.on('click', '#cancel-edit-listing', function () {
            $('#edit-listing-div').remove();
            $('#listing-detail').show();
        });

        $main.on('click', '.detail-back', function (event) {
            if (!$(event.target).is('button')) {
                window.location.href = '/';
            }
        });


        $main.on('click', '#contact-button', function () {
            $('#contact_form').show();
            var divPosition = $('#contact_form').offset();
            $('html, body').animate({scrollTop: divPosition.top}, "slow");
            $("#review-rating").rating({'min': 0, 'max': 5, 'step': 0.5});
        });

        $main.on('click', '#cancel-contact-button', function () {
            $('#contact_form').hide();
        });

        $main.on('click', '#contact-submit', function () {
            $.post('{% url 'profile:send_contact_email' listing.id %}', $('#contactform').serialize(), function () {
                $('#contact_form').hide();
                $('#contact-button').text('Sent Email');
                $('#contact-button').prop('disabled', true);
            });
        });

        $main.on('click', '#save-edit-listing', function () {
            var url = $(this).data('url');
            var $range = $("#slider-range");
            $.post(url, {'listing_name': $('#listing-name').val(), 'description': $('#listing-description').val(),
                        'address': $('#listing-address').val(), 'postal': $('#listing-postal').val(),
                        'city': $('#listing-city').val(), 'country': $('#listing-country').val(),
                        'phone': $('#listing-phone').val(), 'owner': $('#are-owner').is(':checked'),
                        'active': $('#are-active').is(':checked'),
                        'price_min': $range.slider("values", 0), 'price_max': $range.slider("values", 1),
                        'level_of_expertise[]': $('#listing-level').val() || [],
                        'categories': $('#listing-categories').val(), 'email': $('#listing-email').val(),
                        'csrfmiddlewaretoken': $($('input[name="csrfmiddlewaretoken"]')[0]).val()},
                    function (data) {
                        $('#edit-listing-div').remove();
                        $my_listings.find('#listing-' + data['id']).remove();
                        $('#listing-detail').remove();
                        $.get('/detail-listing/' + data['id'], function (data2) {
                            $main.prepend(data2);
                        });
                        $my_listings.show();
                    });
        });

        $('#add-teacher').click(function () {
            {% if user.is_authenticated %}
                $.post('{% url 'profile:add_teacher' listing.id %}', function () {
                    var $add = $('#add-teacher');
                    $add.text('Favourite');
                    $add.prop('disabled', true);
                });
            {% else %}
                $('#main-section').hide();
                $('#sign-in-lightbox').show();
                $('#sign-up-stuff').show();
                $('#signin-heading').text('Sign Up');
                $('#type-signin').val('sign-up');
                $('#sign-in-button').text('Sign Up');
            {% endif %}
        });

        $main.on('click', '#claim-listing-button', function () {
            $('#main-section').hide();
            $('#sign-in-lightbox').show();
            $('#sign-in-lightbox').find('form').append('<input type="hidden" name="claim-id" value="{{ listing.id }}">');
            $('#sign-up-stuff').show();
            $('#signin-heading').text('Sign Up');
            $('#type-signin').val('sign-up');
            $('#sign-in-button').text('Sign Up');
        });

        $main.on('click', '#send-claim-button', function () {
            $.post('{% url 'send_claim_email' listing.id %}', function () {
                $('#send-claim-button').text('Email Sent');
                $('#send-claim-button').prop('disabled', true);
            });
        });

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
                    'callback=initialize';
            document.body.appendChild(script);
        }

        $main.on('click', '#review-button', function () {
            {% if user.is_authenticated %}
                $('#review_form').show();
                var divPosition = $('#review_form').offset();
                $('html, body').animate({scrollTop: divPosition.top}, "slow");
                $("#review-rating").rating({'min': 0, 'max': 5, 'step': 0.5});
            {% else %}
                $('#main-section').hide();
                $('#sign-in-lightbox').show();
                $('#sign-up-stuff').show();
                $('#signin-heading').text('Sign Up');
                $('#type-signin').val('sign-up');
                $('#sign-in-button').text('Sign Up');
            {% endif %}
        });
        $main.on('click', '#cancel-review-button', function () {
            $('#review_form').hide();
        });
        $main.on('click', '#review-submit', function () {
            var url = $(this).data('url');
            $.post(url, {'comment': $('#review-comment').val(), 'rating': $('#review-rating').val(),
                'csrfmiddlewaretoken': $($('input[name="csrfmiddlewaretoken"]')[0]).val()}, function (data) {
                var $owls = $('.owl-item');
                var $items = $owls.find('.item');
                if ($owls.length == 0) {
                    $('.owl-wrapper').append('<div class="owl-item" style="width: 610px;">' + data + '</div>');
                } else {
                    if ($items.length % 2 == 1) {
                        $($owls[$owls.length - 1]).append(data);
                    } else {
                        $('.owl-wrapper').append('<div class="owl-item" style="width: 610px;">' + data + '</div>');
                    }
                }
                $('#review_form').remove();
                $('#review-button').remove();
                $('#reviews-box').show();
            });
        });
        {% if listing.address != None and listing.address.point %}
            loadScript();
        {% endif %}


    });

    function split(val) {
        return val.split(/,\s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }
    {% if listing.address != None and listing.address.point %}
        var geocoder = null;
        var directionsDisplay = null;
        var initialLocation = null;
        var directionsService = null;
        function initialize() {
            directionsDisplay = new google.maps.DirectionsRenderer();
            directionsService = new google.maps.DirectionsService();

            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(-34.397, 150.644)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            directionsDisplay.setMap(map);

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    if (initialLocation != null) {
                        var request = {
                            origin: initialLocation,
                            destination: pos,
                            travelMode: google.maps.TravelMode.DRIVING
                        };
                        directionsService.route(request, function (result, status) {
                            if (status == google.maps.DirectionsStatus.OK) {
                                directionsDisplay.setDirections(result);
                            }
                        });
                    }
                    var distance = google.maps.geometry.spherical.computeDistanceBetween(initialLocation, pos);
                    $("#distance").replaceWith('<p><strong>Distance: </strong>' + (Math.round(distance / 1000 * 10) / 10).toString() + ' km </p>')
                });
            }
            var pos = new google.maps.LatLng({{ listing.address.point.y }}, {{ listing.address.point.x }});
            var marker = new google.maps.Marker({
                map: map,
                position: pos,
                title: '{{ listing.listing_name }}',
                visible: true
            });
            map.setCenter(pos);
        }
    {% else %}
        $('#map-canvas').hide();
    {% endif %}
    </script>
{% endblock %}