{% load staticfiles %}
<!-- Rooms -->
<div class="container mt20">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="lined-heading"><span>{{ title }}</span></h2>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="widget">
                    <h3 style="padding: 10px">Filters</h3>
                    <ul class="nav nav-pills list-unstyled arrow" id="filters">
                        <li class="active"><a href="#" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".Piano">Piano</a></li>
                        <li><a href="#" data-filter=".String">String</a></li>
                        <li><a href="#" data-filter=".Singing">Singing</a></li>
                        <li><a href="#" data-filter=".Theory">Theory</a></li>
                    </ul>
                </div>
            </div>
            <!-- Room -->
            <div class="col-sm-5">
                <div class="isotope gallery">
                    {% for l in listings %}
                        <div class="row row-lg-height isotope-item {{ l.get_string_tags_no_comma }}"
                             style="margin-top: 2em; width: 100%">
                            <div class="col-sm-12 col-lg-6 col-middle">
                                <img src="{{ l.get_photo_url }}" alt="{{ l.listing_name }}" width="140px" height="100"/>

                                <a href="{{ l.get_unique_url }}"><h4 style="font-size: 1.3em"><strong>{{ l.listing_name }}</strong>
                                    <br><span>{{ l.get_string_tags }}</span></h4></a>

                                <div class="price"><strong>Rating: {{ l.get_rating }}</strong></div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <a href="{{ l.get_unique_url }}" style="color: #333">
                                    <p><strong>Address: </strong>{{ l.address|safe }}</p>

                                    <p><strong>Contact: </strong>{{ l.phone }}</p>

                                    <p><strong>Email: </strong>{{ l.email }}</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-5">
                <div id="map-canvas" style="width: 100%; min-height: 600px"></div>
            </div>
        </div>
    </div>
</div>