{% load staticfiles %}
<div class="item {% if margin == 1 %}mt20{% endif %}">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">{% if review.user.profile.photo %}
            <img src="/media/{{ review.user.profile.photo.name }}"
                 style="width: 100px; height: 100px" alt="Review {{ count }}"
                 class="img-circle">
            <span class="no-caption">
                <input name="rating" class="form-control rating" style="font-size: 10px"
                       data-size="xs"
                       value="{{ review.rating }}" disabled><br>
            <strong style="text-align: center;">{{ review.user.first_name }} {{ review.user.last_name }}</strong></span>
        {% else %}
            <img src="{% static 'images/musician-349790_1280.jpg' %}"
                 style="width: 100px; height: 100px" alt="Review {{ count }}"
                 class="img-circle">
            <span class="no-caption">
                <input name="rating" class="form-control rating" style="font-size: 10px"
                       data-size="xs"
                       value="{{ review.rating }}" disabled><br>
            <strong style="text-align: center;">{{ review.user.first_name }} {{ review.user.last_name }}</strong></span>
        {% endif %}
        </div>
        <div class="col-lg-10 col-md-7 col-sm-10 col-xs-12">
            <div class="text-balloon"><span style="float:right;">{{ review.create_time|timesince }} ago</span><br>
                {{ review.comment }}{% if review.comment == '' %}No Comment{% endif %}
                {% if review.user == user %}
                    <button id="edit-review" class="btn btn-sm btn-primary mt20">Edit Review</button>{% endif %}
            </div>
        </div>
    </div>
</div>