<div class="col-sm-12 col-lg-4" style="margin-top: 4em" id="listing-{{ l.id }}">
    <div class="room-thumb"><img src="http://placehold.it/140x100" alt="room 1"
                                 class="img-responsive"/>

        <div class="mask">
            <div class="main">
                <h5>{{ l.listing_name }}<br><span>{{ l.get_string_tags }}</span></h5>

                <div class="price"><span>Rating: </span>{{ l.get_rating }}</div>
            </div>
            <div class="content">
                <p>{{ l.description|safe|truncatewords:30 }}</p>

                <a href="javascript:void (0);" class="btn btn-primary btn-block to-listing"
                   data-url="{% url 'main:detail_listing' l.id %}">{{ button_name }}</a>
            </div>
        </div>
    </div>
</div>